@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url("style-desktop.css") screen and (min-device-width: 769px) and (min-width: 769px);
@import url("style-phone.css") screen and (max-device-width: 768px);
@import url("style-phone.css") screen and (max-width: 768px);

:root {
    --offwhite: #EDEDED;
    --nonblack: #292727;
    --bgColor: #D7C6B7;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
}

::-webkit-scrollbar{
    width: 15px;
    background-color: var(--nonblack);
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    border: 1.5px solid var(--nonblack);
    background-color: var(--bgColor);
}

::-webkit-scrollbar-thumb{
    background-color: var(--nonblack);
    border-radius: 10px;
}

body{
    background-color: var(--bgColor);
    background-image: url("../images/UI/Background-Image.png");
    background-size: 100vh;
    background-repeat: repeat;
}

main {
    margin-top: 55px;
}

.navbar {
    background-color: var(--nonblack);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.grid {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#about{
    position: relative;
    background-color: var(--bgColor);
    border-radius: 20px;
}

#about>*{
    padding: 10px;
}

.imageGalleries{
    color: var(--nonblack);
    margin-top: 10px;
    background-color: var(--bgColor);
    border-radius: 20px;
}

.imageGalleries>*{
/*    padding: 10px;*/
}

.imageGalleries li{
    display: inline-block;
    justify-content: space-between;
}

.imageGalleries img{
    transform-origin: center;
    transition: all .2s ease-in-out;
    border-radius: 10px;
}

.imageGalleries figcaption{
    text-align: center;
}

h2{
    color: var(--nonblack);
}