.list{
    display: block;
}

.navbar li {
    display: inline-block;
    height: 55px;
}

li a {
    display: block;
    color: var(--offwhite);
    font-size: 30px;
    padding: 10px;
}

header a:hover{
    background-color: var(--offwhite);
    color: var(--nonblack);
}

.logo {
    padding: 10px;
    height: 35px;
}

.logo:hover {
    background-color: black;
    filter: invert(90%);
}

#bars{
    display: none;
}

body{
    display: flex;
}

.social{
    margin-top: 55px; 
    position: fixed;
    height: 100vh;
    background-color: var(--nonblack);
}

.social img{
    width: 37px;
}

.decorations{
    flex-grow: 0.05;
    margin: 75px 20px 0;
}

.decorations img{
    width: 200px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid var(--nonblack);
}

#about{
    margin-top: 20px;
    height: 200px;
    flex-grow: 0.9;
    border: 2px solid var(--nonblack);
}

main{
    margin-left: 80px;
}

.imageGalleries{
    padding: 10px;
    padding-bottom: 60px;
    border: 2px solid var(--nonblack);
}

.imageGalleries img{
    width: 100px;
    z-index: 1000;
/*    padding-top: 40px;*/
    margin: 30px;
    margin-top: 10px;
    border: 2px solid var(--nonblack);
}

.imageGalleries img:hover{
    transform: scale(3);
    position: relative;
}

.imageGalleries figcaption{
    width: 100px;
    margin-left: 30px;
}

#games img{
    width: 200px;
}

#games figcaption{
    width: 200px;
}
