@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("style-desktop.css") screen and (min-device-width: 769px) and
  (min-width: 769px);
@import url("style-phone.css") screen and (max-device-width: 768px);
@import url("style-phone.css") screen and (max-width: 768px);

:root {
  --offwhite: #ededed;
  --nonblack: #292727;
  --bgColor: #d7c6b7;

  --nonblack: #1d3557;
  --bgColor: #f1faee;
  --offwhite: white;
  --red: #e63946;

  --bgColor: #131316;
  --nonblack: #f3f3f3;
  --offwhite: #f3f3f3;
  --accentColor: #bced09;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway";
  font-size: 1em;
  text-align: center;
}

p {
  /* font-size: 1em; */
  /* text-align: left; */
  text-wrap: balance;
}

::-webkit-scrollbar {
  width: 15px;
  display: none;
  /* background-color: rgba(0,0,0,0); */
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  /* border: 1.5px solid var(--nonblack); */
  background-color: var(--bgColor);
  /* display: none; */
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: var(--nonblack);
  border-radius: 10px;
  height: 10px;
  display: none;
}

body {
  background-color: var(--bgColor);
  /* background-image: url("../images/UI/Background-Image.png"); */
  /* background-size: 100vh; */
  /* background-repeat: repeat; */
}

main {
  margin-top: 7vh;
  /* width: 100%; */
  /* float: right; */
  /* width: calc(100% - 60px); */
  display: flex;
}

.navbar {
  /* background-color: var(--bgColor); */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  /* height: 7vh; */
}

.logo {
  padding: 10px;
  height: 35px;
}

.logo:hover {
  background-color: black;
  filter: invert(90%);
}

#bars {
  height: 35px;
  padding: 10px;
}

#bars:hover {
  background-color: black;
  filter: invert(90%);
  cursor: pointer;
}

.list {
  position: fixed;
  top: 55px;
  width: 100vw;
  display: none;
  z-index: 100;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:active {
  text-decoration: none;
}

/* .grid {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
} */

#contentContainer {
  margin: 20px;
  width: 80%;
  /* margin-top: 20px; */
  position: relative;
  height: calc(90vh - 40px);
  min-height: 100vh;
  overflow-y: scroll;
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
}

#about > img {
  max-height: 200px;
  border-radius: 50%;
  border: white 3px solid;
  margin: 20px;
}

section {
  margin: auto;
  display: grid;
  place-items: center;
  align-content: center;
  padding: 20px;
  max-width: 90vw;
  /* width: 70vw; */
  /* scroll-snap-align: start; */
  color: var(--nonblack);
  margin-top: 10px;
  min-height: 100vh;
  /* background-color: var(--bgColor); */
  /* border-radius: 20px; */
  /* border: 2px solid var(--nonblack); */
}

section ul {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.imageGalleries li {
  /* background-color: #292727; */
  align-self: flex-end;
  display: inline-block;
  justify-content: space-between;
  padding: 10px;
  min-width: 10px;
  max-width: fit-content;
  /* height: 10%; */
  max-height: fit-content;
  margin: 20px;
  /* margin-bottom: 0; */
}

.imageGalleries img {
  transform-origin: center;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  border: 2px solid var(--nonblack);
}

.imageGalleries figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-content: center;
}

.imageGalleries figcaption {
  font-size: 1em;
  text-align: center;
  min-width: 100%;
  max-width: 100%;
  /* height: 100%; */
  /* display: none; */
  text-wrap: pretty;
  margin-bottom: 7px;
}

#aboutHorizontal {
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
}

/* #casino li {
  width: 20%;
} */

iframe {
  width: 30vh;
  height: auto;
}

#fullImgBox {
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

#fullImg {
  width: 90%;
  max-width: 800px;
}

#fullImgBox span {
  position: absolute;
  top: 5%;
  right: 3%;
  font-size: 40px;
  color: var(--offwhite);
  cursor: pointer;
}

h2 {
  text-align: center;
  font-size: 38px;
  color: #ffffff;
  font-family: "Josefin Sans";
  font-weight: 700;
  font-style: italic;
}

video {
  /* min-width: 100%; */
  width: 100% !important;
  height: auto !important;
}
iframe {
  width: 100% !important;
  height: auto;
}

#navigation {
  /* background-color: var(--bgColor); */
  position: fixed;
  width: 100vw;
  display: none;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: right;
}

#navigation li {
  background-color: var(--bgColor);
  width: 100%;
  /* right: 0; */
  display: flex;
  /* min-width: 30%; */
  height: 7vh;
  border: 1px solid var(--offwhite);
}

#navigation li a {
  color: var(--offwhite);
  font-size: 2vh;
  padding: 20px;
  width: 100%;
  text-align: right;
  /* margin: auto; */
}

p > a {
  color: var(--accentColor);
  font-size: 3.5vh;
  text-decoration: underline !important;
}

/*          Scroll Animations          */
/* section {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transform: scale(100%);
} */

#blur {
  top: 0;
  height: 99.9%;
  width: 99.9%;
  position: fixed;
  z-index: -4;
  backdrop-filter: blur(200px);
}

#blob {
  background-color: white;
  width: 500px;
  aspect-ratio: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  border-radius: 50%;
  z-index: -5;

  background: linear-gradient(to right, red, purple);

  animation: rotate 20s infinite;

  /* transition-duration: 200ms; */
  /* transition-timing-function: ease-in; */
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}

#chair * {
  font-family: "Open Sans";
}

#chair h2 {
  padding: 40px;
}

#chair > p {
  width: 90%;
  text-align: left;
  font-size: 18px;
}
